
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form action="Add" method="post" class="form-inline">
    <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" name="Name" id="exampleInputName2">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Description</label>
        <input type="text" class="form-control" name="Description" id="exampleInputEmail2">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>